################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Chapter1/.vs/CPPDemo1/v14
/Chapter1/ipch/CPPDEMO1-89d9e49d
/Chapter1/CPPDemo1.VC.db
/Chapter2
/Chapter3
/Chapter5/demo5-5/.vs/demo5-5/v14
*.db
/Chapter5/demo5-6/.vs/demo5-6/v14
/Chapter5/demo5-6/Debug
/Chapter5/demo5-6/demo5-6/Debug
/Chapter5/demo5-7/.vs/demo5-7/v14
/Chapter5/demo5-7/Debug
/Chapter5/demo5-7/demo5-7/Debug
*.suo
/Chapter5/09_unique_ptr/09_unique_ptr/Debug
/Chapter5/09_unique_ptr/Debug
/Chapter5/09_unique_ptr/ipch/09_UNIQUE_PTR-e6d4ab67
/Chapter5/demo5-8/Debug
/Chapter5/demo5-8/demo5-8/Debug
/Chapter5/demo5-8/ipch/DEMO5-8-ffbe88
*.lastbuildstate
*.tlog
*.log
*.obj
*.idb
*.pdb
*.exe
*.ilk
/Chapter6/08_function/08_function/Debug
/Chapter6/08_function/ipch/08_FUNCTION-f139fe93
/Chapter6/07_overload/ipch/07_OVERLOAD-3a2a7e52
